<h1>List of available choices</h1>
<%= link_to "view choices", controller: "students", action: "view_choices" %><br>
<%= link_to "add choices", controller: "students", action: "add_choices" %><br>
<%= link_to "edit choices", controller: "students", action: "edit_choices" %><br>


