
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Seat Allotment</h1>
                      
                             <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Seat Allotment</h2>
                <p>Seat is seat allotment made by us thats it <a href="http://ccmt.nic.in/webinfo/Public/Home.aspx/">EXAM 2017</a>. The theme is to reduce money and power.</p>
                
            </div>
        </div>
    </section>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>D

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
       
<h1> Seat Allotment 2017</h1><br>


<%= link_to "new registration", controller: "students", action: "new" %><br>
<%= link_to "student login", controller: "sessions" , action: "login" %>
